<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tibin.christmasfriend">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cap_christmas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cap_christmas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChristmasFriend">
        <activity android:name=".FriendsViewTable"></activity>
        <activity android:name=".AdminActivity" />
        <activity
            android:name=".SpinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_spin"
            android:theme="@style/Theme.ChristmasFriend.Fullscreen" />
        <activity android:name=".nameSelector" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>